.canvas-container {
    height: 50vh;
    width: 50vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2300 !important;
}

.glb-input {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
}